PORT=5001
MONGO_URI=mongodb+srv://HealthX:yourkey@cluster0.qibpvcr.mongodb.net/?appName=Cluster0
JWT_SECRET=yourkey
JWT_EXPIRES_IN=30d
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=youremail@gmail.com
EMAIL_PASS="YOUR_APP_PASSWORD"
RAZORPAY_KEY_ID=your_razorpay_test_key_id
RAZORPAY_KEY_SECRET=your_razorpay_test_key_secret
PAYMENT_TEST_USER_JWT=your_logged_in_user_jwt_token_here
PAYMENT_TEST_PLAN_ID=the_object_id_of_the_plan_you_want_to_buy
GEMINI_API_KEY=your_default_api_key
GEMINI_VISION_MODEL=gemini-2.5-flash
GEMINI_TEXT_MODEL=gemini-2.5-flash